#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Análisis de Grandes Volúmenes de Datos**
###Tecnológico de Monterrey
###Prof. Iván Olmos

## **Actividad Semana 03**

###**Proyecto: Base de Datos de Big Data**

##### Nombres y matrículas de los integrantes del equipo:
*   Victoria Melgarejo Cabrera - A01795030
*   Héctor Alejandro Alvarez Rosas        - A01796262
*   Andrea Xcaret Gomez Alfaro        - A01796384
*   Mario Guillen De La Torre       - A01796701


---


#### **Descripción de la Actividad:**

Identificar una base de datos de big data para la aplicación de los conceptos aprendidos en el curso, iniciando con la manipulación básica de lectura y escritura de archivos con PySpark.



---

In [41]:
# Instalación de PySpark en Colab
!pip install pyspark

Requirement already satisfied: pyspark in /opt/anaconda3/envs/env-pyspark/lib/python3.12/site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /opt/anaconda3/envs/env-pyspark/lib/python3.12/site-packages (from pyspark) (0.10.9.7)

### **Importación de Librerías**

In [42]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StringType
from pyspark.sql.functions import col, isnan, when, count, percentile_approx
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from pyspark.sql.functions import hour, dayofweek, col, unix_timestamp, when

# Hide errors
spark.sparkContext.setLogLevel("ERROR")

In [43]:
# Función auxiliar de visualización
from IPython.display import display, HTML

def prettyDisplay(df, limit=1000):
    """
    Convierte un PySpark DataFrame a Pandas y lo muestra como una tabla HTML con scroll horizontal.
    
    Args:
        df (pyspark.sql.DataFrame): El DataFrame de PySpark a mostrar.
        limit (int): Número máximo de filas a mostrar. Por defecto 1000.
    """
    pdf = df.limit(limit).toPandas()
    display(HTML(pdf.to_html(notebook=True)))

### **Creación de la Sesión Spark**

In [44]:
spark = SparkSession.builder \
    .appName("ChicagoTaxyTripsAnalysis") \
    .getOrCreate()

### **Carga del Dataset**

In [45]:
filename = "Taxi_Trips.csv"

dftaxytrips = spark.read.csv(filename, header=True, inferSchema=True)

In [46]:
print("Número de registros:", dftaxytrips.count())
print("Número de columnas:", len(dftaxytrips.columns))

[Stage 450:===================================>                   (16 + 8) / 25]

Número de registros: 7917844
Número de columnas: 23

### **Exploración de los Datos**

In [47]:
# Estructura del dataset
dftaxytrips.printSchema()

root
 |-- Trip ID: string (nullable = true)
 |-- Taxi ID: string (nullable = true)
 |-- Trip Start Timestamp: string (nullable = true)
 |-- Trip End Timestamp: string (nullable = true)
 |-- Trip Seconds: integer (nullable = true)
 |-- Trip Miles: double (nullable = true)
 |-- Pickup Census Tract: long (nullable = true)
 |-- Dropoff Census Tract: long (nullable = true)
 |-- Pickup Community Area: integer (nullable = true)
 |-- Dropoff Community Area: integer (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Tips: double (nullable = true)
 |-- Tolls: double (nullable = true)
 |-- Extras: double (nullable = true)
 |-- Trip Total: double (nullable = true)
 |-- Payment Type: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Pickup Centroid Latitude: double (nullable = true)
 |-- Pickup Centroid Longitude: double (nullable = true)
 |-- Pickup Centroid Location: string (nullable = true)
 |-- Dropoff Centroid Latitude: double (nullable = true)
 |-- Dropoff Centroid Longitude: double (nullable = true)
 |-- Dropoff Centroid  Location: string (nullable = true)

In [48]:
# Primeras filas
# dftaxytrips.show(5)
prettyDisplay(dftaxytrips, 5)

In [49]:
# dftaxytrips.summary().show()
prettyDisplay(dftaxytrips.summary())

In [50]:
# Estadísticas generales
# dftaxytrips.describe().show()
prettyDisplay(dftaxytrips.describe())

In [51]:
# Análisis de valores únicos

unique_values = []

# Recorremos cada columna y guardamos info
for col_name in dftaxytrips.columns:
    distinct_count = dftaxytrips.select(col_name).distinct().count()
    data_type = [f.dataType for f in dftaxytrips.schema.fields if f.name == col_name][0]
    
    unique_values.append(Row(Columna=col_name, TipoDato=str(data_type), ValoresUnicos=distinct_count))

# Creamos un nuevo DataFrame con los resultados
unique_df = spark.createDataFrame(unique_values)

# Mostramos la tabla ordenada por número de valores únicos
prettyDisplay(unique_df.orderBy("ValoresUnicos", ascending=False))

In [52]:
# Análisis de valores faltantes en 'dftaxytrips'
missing_taxytrips = dftaxytrips.select([
    count(when(col(c).isNull() | isnan(c), c)).alias(c) #count(when(col(c).isNull(), c)).alias(c)
    for c in dftaxytrips.columns
])

print("Valores faltantes en Chicago Taxi Trips Dataset (csv):")
# missing_taxytrips.show()
prettyDisplay(missing_taxytrips)

Valores faltantes en Chicago Taxi Trips Dataset (csv):

In [53]:
categoric_cols = [
    "Trip ID",
    "Taxi ID",
    "Trip Start Timestamp",
    "Trip End Timestamp",
    "Payment Type",
    "Company",
    "Pickup Centroid Location",
    "Dropoff Centroid  Location"
]
numeric_cols = [
    "Trip Seconds",
    "Trip Miles",
    "Pickup Census Tract",
    "Dropoff Census Tract",
    "Pickup Community Area",
    "Dropoff Community Area",
    "Fare",
    "Tips",
    "Tolls",
    "Extras",
    "Trip Total",
    "Pickup Centroid Latitude",
    "Pickup Centroid Longitude",
    "Dropoff Centroid Latitude",
    "Dropoff Centroid Longitude"
]